# Auto detect text files and perform LF normalization
* text=auto
volumenes/
compose-db-data/volumenes
primer_paso/compose-db-data/volumenes

mysql.sockls

primer_paso/compose-db-data/volumenes/mysql_inventario_data/mysql.sock
